{% extends 'main/base.html' %}

{% block content %}
    <div class="text-center">
        <h1>{{ author.first_name }} {{ author.last_name }}</h1>
        {% if author.photo %}
            <img src="{{ author.photo.url }}" alt="{{ author.first_name }} {{ author.last_name }}" class="img-thumbnail mb-4">
        {% endif %}
        <p>{{ author.description }}</p>
    </div>
    <div class="text-left ml-4">
        <h3>Книги</h3>
        <ul>
        {% for book in books %}
            <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
